.section {
  padding: 5px;
}

.title {
  padding: 20px 0;
  text-align: center;
  font-family: "LatoBold";
}

@media (min-width: 1024px) {
  .section {
    padding: 0;
  }

  .image {
    height: calc(100vh - 3.9rem);
    width: 50vw;
    overflow: hidden;
    max-height: 80vw;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .title {
    font-size: 2.5rem;
    margin-top: 150px;
  }

  .team-container {
    display: flex;
    margin-top: 60px;
    margin-bottom: 130px;
  }
  .height {
    height: calc(100vh - 3.9rem);
    width: 50vw;
    max-height: 80vw;
    display: grid;
    align-items: stretch;
    overflow-y: auto;
  }
}
