.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  margin-top: 3em;
}

.image {
  width: 50vw;
  overflow: hidden;
  object-fit: cover;
  object-fit: center;
  height: calc(100vh - 3.9rem);
}

.height {
  height: calc(100vh - 3.9rem);
  width: 50vw;
  display: grid;
  align-items: stretch;
  overflow-y: auto;
}
