.article__container {
  background-color: var(--background-color);
  padding: 30px 16px;
}

.article__list {
  padding: 20px;
}

.article__title {
  font-family: "LatoBold";
}

.image-container {
  display: none;
}

@media (min-width: 1024px) {
  .article__container {
    padding: 30px 66px;
    margin-bottom: 200px;
  }
  .image-container {
    display: block;
    position: absolute;
    right: 120px;
    top: 18em;
  }
  .section {
    position: relative;
  }
}
