.article__container {
  background-color: var(--background-color);
  padding: 30px 16px;
}

.article__list {
  padding: 20px;
}

.article__title {
  font-family: "LatoBold";
}

@media (min-width: 1024px) {
  .article__container {
    padding: 30px 66px;
  }
}
