.article__container {
  background-color: var(--background-color);
  padding: 30px 16px;
}

.article__list {
  padding: 20px;
}

.article__title {
  font-family: "LatoBold";
}

.image-container {
  display: none;
}

@media (min-width: 1024px) {
  .article__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 66px;
    min-height: calc(100vh - 3.9rem);
    margin-top: 3em;
    position: relative;
  }
  .image-container {
    display: block;
    position: absolute;
    right: 6em;
    top: 3em;
  }
}
