.section {
  margin-bottom: 120px;
}

.contact__container {
  background-color: var(--background-color);
  padding: 20px;
}

.contact__list {
  list-style: none;
  margin-bottom: 10px;
}

.map {
  z-index: 1;
  border-top: var(--dark-text-color) 1px solid;
  border-bottom: var(--dark-text-color) 1px solid;
}

@media (min-width: 1024px) {
  .container-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
  }
  .map {
    padding: 0 300px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
  }
  .map {
    border: none;
    border-left: var(--dark-text-color) 1px solid;
  }
}
