.content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  padding: 20px;
  border-top: var(--dark-text-color) 1px solid;
  border-bottom: var(--dark-text-color) 1px solid;
  gap: 10px;
}

.content__list-item {
  color: var(--dark-text-color);
  list-style: none;
}
