.content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  padding: 20px;
  border-top: var(--dark-text-color) 1px solid;
  border-bottom: var(--dark-text-color) 1px solid;
  gap: 10px;
}

.content__list-item {
  color: var(--dark-text-color);
  list-style: none;
}

@media (min-width: 1024px) {
  .content__container {
    padding: 60px;
    border: none;
    border-left: var(--dark-text-color) 1px solid;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    justify-content: left;
    margin-top: 3em;
  }
}
