.section {
  padding-top: 4rem;
  min-height: 100vh;
  margin-bottom: 0;
}

.article__container {
  padding: 20px 20px 0 20px;
}

.article__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 0px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  gap: 14px;
  list-style: none;
  font-size: 5vw;
  text-align: center;
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image,
.svg {
  display: none;
}

@media (min-width: 1024px) {
  .image {
    display: block;
    position: absolute;
    right: 8vw;
    top: calc(7rem + 0.19270833333333334 * 100vw);
  }
  .article__container {
    position: relative;
    background-color: var(--background-color);
  }
  .article__list {
    padding-right: 30vw;
    box-shadow: none;
    background: none;
  }
  .article__list-item {
    font-family: "Merriweather";
    font-weight: 700;
    font-size: 0.3em;
  }
  .svg {
    display: block;
  }
}
