.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 0.5s forwards;
}

.fadeOut {
  animation: fadeOutAnimation 0.5s forwards;
}

.headline {
  padding-left: 20px;
  font-size: 1.5rem;
  font-family: "Merriweather";
  font-weight: 400;
  padding-top: 3px;
  color: #24251f;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  to {
    opacity: 0;
  }
}
