.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f6c453;
  height: 70px;
  width: 100%;
  z-index: 21000000;
}

.header__button {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 70px;
  z-index: 21000000;
}

.header__rotate {
  transform: rotate(-90deg);
  transition: transform 0.5s ease-in-out;
}

.header__rotate-back {
  transition: transform 0.5s ease-in-out;
}

.header__button:active {
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}

.header__content {
  display: flex;
  padding-left: 20px;
  align-items: center;
  padding-top: 4px;
}

/*add8e6 - das schöne hellblau*/
/* first header #fffacd secound #ff6f61*/
