.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fffacd;
  height: 70px;
  width: 100%;
  z-index: 21000000;
}
/*add8e6 - das schöne hellblau*/

.button {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 70px;
  z-index: 21000000;
}

.fadeIn {
  opacity: 0;
  animation: fadeInAnimation 0.5s forwards;
}

.fadeOut {
  animation: fadeOutAnimation 0.5s forwards;
}

@keyframes fadeInAnimation {
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  to {
    opacity: 0;
  }
}

.headline {
  display: flex;
  align-items: center;
  color: black;
  padding-left: 30px;
}
