.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  height: 70px;
  width: 100%;
  z-index: 10;
}

.header__button {
  position: fixed;
  display: flex;
  align-items: center;
  right: 0px;
  top: 0px;
  height: 70px;
  z-index: 300;
}

.header__rotate {
  transform: rotate(-90deg);
  transition: transform 0.5s ease-in-out;
}

.header__rotate-back {
  transition: transform 0.5s ease-in-out;
}

.header__button:active {
  transform: scale(0.9);
  transition: transform 0.1s ease-in-out;
}

.header__content {
  display: flex;
  padding-left: 20px;
  align-items: center;
  padding-top: 6px;
}

@media (min-width: 1024px) {
  .header__button {
    display: none;
  }
}
