.title {
  padding: 30px 0 10px 20px;
  font-family: "LatoBold";
}

.paragraph {
  padding-top: 20px;
}

.text {
  padding: 16px 16px 36px 16px;
}

.coloredBackground {
  background-color: #e1eedd;
}

@media (min-width: 1024px) {
  .article {
    padding: 0 300px;
  }
}
