.article-container {
  background-color: #f5f5dc;
  color: #333333;
  padding: 13px;
}

.paragraph {
  margin-top: 10px;
}

.article {
  margin: 20px 0;
}

.headline {
  font-size: 2rem;
  padding: 30px 0;
  margin-left: 10px;
}
