.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 20px 0;
  gap: 20px;
  background-color: var(--accent-color);
}

.footer__button {
  position: absolute;
  bottom: 14px;
  right: 20px;
}

.footer__item {
  position: relative;
  width: 100%;
}

.footer__link {
  color: var(--header-text-color);
}
