.slider {
  overflow: hidden;
  position: relative;
  height: 290px;
  touch-action: pan-y;
}

.sliderInner {
  display: flex;
}

.slide {
  flex: 0 0 auto;
  width: 100%; /* Jede Slide nimmt 100% der Breite des Sliders ein */
  height: 270px;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 270px;
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.prevButton {
  left: 10px;
}
.nextButton {
  right: 10px;
}
