.component-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(50px) scale(0);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.image-container {
  position: relative;
  width: calc(100% - 20px);
  height: 220px;
}

.text {
  width: calc(100% - 20px);
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.animate {
  opacity: 1;
  transform: translateY(0) scale(1);
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
    transform: translateY(100%);
  }
  70% {
    transform: scale(1.05);
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    transform: translateY(0);
  }
}
