.component-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.image-container {
  position: relative;
  width: calc(100% - 20px);
  height: 220px;
}

.text {
  width: calc(100% - 20px);
  background-color: black;
  color: white;
  padding: 20px 0;
  text-align: center;
}
