.projectCard__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 20px 0;
  opacity: 0;
  transform: translateY(50px) scale(0);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.projectCard__card {
  background-color: transparent;
  width: calc(100% - 20px);
  height: 290px;
  perspective: 1000px;
  cursor: pointer;
}

.projectCard__card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.projectCard__card:hover .projectCard__card-inner {
  transform: rotateY(180deg);
}

.projectCard__card-front,
.projectCard__card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.projectCard__card-back {
  background-color: #faeac5;
  transform: rotateY(180deg);
  color: var(--light-text-color);
}

.projectCard__button-container {
  position: absolute;
  bottom: 0;
  left: calc(50% - 20px);
  transform: translate(-50%, -50%);
  width: 160px;
  height: 40px;
  margin: 20px;
  background-color: var(--dark-text-color);
  color: var(--light-text-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projectCard__text--front {
  background-color: black;
  color: var(--light-text-color);
  padding: 20px 0;
  text-align: center;
}

.projectCard__text--back {
  color: var(--dark-text-color);
  background-color: none;
  padding: 30px 10px;
}

.projectCard__image-container {
  position: relative;
  height: 220px;
}

.animate {
  opacity: 1;
  transform: translateY(0) scale(1);
}

@media (min-width: 1024px) {
  .projectCard__card {
    height: 600px;
  }
  .projectCard__image-container {
    height: 530px;
  }
}
