.sectionTitle {
  font-size: 2.3rem;
  height: 70px;
  margin-left: 20px;
  font-family: "Merriweather";
  font-weight: 700;
  color: var(--accent-color);
}

@media (min-width: 1024px) {
  .sectionTitle {
    padding: 100px 300px;
  }
}
